In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/top5000.csv', usecols=lambda x: x != "Unnamed: 0")

In [ ]:
df

,overview,popularity,title,genero
0,"Minions Stuart, Kevin and Bob are recruited by...",547.488298,Minions,Family
1,An Amazon princess comes to the world of Man t...,294.337037,Wonder Woman,Action
2,A live-action adaptation of Disney's version o...,287.253654,Beauty and the Beast,Family
3,After being coerced into working for a crime b...,228.032744,Baby Driver,Action
4,The special bond that develops between plus-si...,213.849907,Big Hero 6,Adventure
...,...,...,...,...
4995,In the rebellious northern frontier province o...,7.902787,North West Frontier,Drama
4996,A tender drama unfolds between a grieving fath...,7.900269,The Horseman,Thriller
4997,When the head of a statue sacred to a village ...,7.899160,Ong-Bak: The Thai Warrior,Action
4998,"An tale of revenge, honor and disgrace, center...",7.898847,Hara-Kiri: Death of a Samurai,Drama
4999,The fantastical tale of a little girl who won'...,7.898326,Phoebe in Wonderland,Drama

In [ ]:
df = df.head(1000)

In [ ]:
tfidf = TfidfVectorizer(stop_words= 'english')
df['overview'] = df['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(df['overview'])

In [ ]:
cosine = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
np.savetxt("matriz.csv", cosine, delimiter=",")

In [ ]:
indices = pd.Series(df.index, index= df['title']).drop_duplicates()
indices

title
Minions                   0
Wonder Woman              1
Beauty and the Beast      2
Baby Driver               3
Big Hero 6                4
                       ...
The Oranges             995
The Anomaly             996
Lakeview Terrace        997
Thumbelina              998
Money Talks             999
Length: 1000, dtype: int64

In [ ]:
def recomendacion(title, cosine = cosine ):
  idx= indices[title]
  score = enumerate(cosine[idx])
  score = sorted(score, key=lambda x:x[1], reverse=True)
  score = score[1:6]

  sim_index = [i[0] for i in score]
  print(df['title'].iloc[sim_index])

In [ ]:
recomendacion('Toy Story')

458                                 Toy Story 3
417                                 Toy Story 2
284                                Factory Girl
166                              Child's Play 3
59     Harry Potter and the Philosopher's Stone
Name: title, dtype: object