In [20]:
import pandas as pd
import numpy as np
import ast

In [3]:
df = pd.read_csv('C:/Users/Leonardo/Desktop/New folder (2)/jupyter/credits.csv')

In [4]:
df['crew'] = df['crew'].apply(ast.literal_eval)

In [7]:
df

,cast,crew,id,directores
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,NaN
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,NaN
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,NaN
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,NaN
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,NaN
...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,NaN
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,NaN
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,NaN
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,NaN
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,NaN

Desanido crew para poder crear la funcion de directores, tambien me quedo con el id para poder hacer merge con el dataframe de las peliculas

In [12]:
data_list = []
for i in range(len(df)):
    data = pd.DataFrame(df.crew[i])
    data['id'] = df.id[i]
    data_list.append(data)
# Luego de crear una lista de dataframes, en que cada dataframe es la crew de una pelicula, lo concatenamos en df cast 
#para que quede todo como un dataframe unico

dfcast = pd.concat(data_list, ignore_index=True)

In [17]:
prueba = dfcast[dfcast['job'] =='Director']

In [22]:
final = prueba.drop(columns=['profile_path', 'credit_id', 'gender', 'department', 'job'])

In [24]:
final.to_csv('df_directores.csv')