In [1]:
import pandas as pd
import numpy as np 
import ast

In [2]:
pd.options.display.max_columns = 500

In [2]:
df= pd.read_csv('df_directores.csv', index_col='Unnamed: 0')

In [5]:
df.drop(columns=['tagline', 'overview'], inplace=True)

In [10]:
directores.rename(columns={'name' : 'director'}, inplace=True)
directores.drop(columns=['job', 'Unnamed: 0'], inplace=True)

In [11]:
dfdirectores = pd.merge(df, directores, on='id')

In [112]:
eliminar=['genres', 'production_companies']

In [113]:
dfdirectores.drop(columns=eliminar,inplace=True)

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_6884\395392522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfdirectores.drop(columns=eliminar,inplace=True)

def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

In [109]:
def peliculas_idioma(idioma:str):
    contador= 0
    for i in df['original_language']:
        if idioma == i:
            contador+=1
        else:
            continue
    return contador

In [111]:
peliculas_idioma('es')

992

In [19]:
df['production_countries'] = df['production_countries'].apply(ast.literal_eval)

In [101]:
mask = dfdirectores['status'] == 'Released'

In [102]:
dfdirectores = dfdirectores[mask]

def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. 
Debe devolver la duracion y el año.
Ejemplo de retorno: X . Duración: x. Año: xx

In [6]:
def peliculas_duracion(pelicula:str):
    for i, j in enumerate(df['title']):
        if j == pelicula:
            return print(f"Duracion: {df['runtime'][i]} minutos, año: {df['release_year'][i]}")
        else:
            continue

In [8]:
peliculas_duracion('Jumanji')

Duracion: 104.0 minutos, año: 1995

def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
                    Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [14]:
def franquicia(Franquicia:str):
    collection = df[df['belongs_to_collection'] == Franquicia]
    numero = len(collection) 
    ganancia = collection['revenue'].sum()
    avg = collection['revenue'].mean()
    return f'La franquicia {Franquicia} tiene {numero} peliculas, una ganancia de {ganancia} y una ganancia promedio de {avg}'

In [15]:
franquicia('Toy Story Collection')

'La franquicia Toy Story Collection tiene 3 peliculas, una ganancia de 1937890605.0 y una ganancia promedio de 645963535.0'

def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
                    Ejemplo de retorno: Se produjeron X películas en el país X

In [67]:
def peliculas_pais(pais:str):
    paiss = df[df['country'] == pais]
    paiss['country']
    return print(f'se produjeron {paiss.shape[0]} en el pais {pais}')

def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revenue total y la cantidad de peliculas que realizo.
                    Ejemplo de retorno: La productora X ha tenido un revenue de x

In [11]:
def productoras_exitosas(productora:str):
    pr= df[df['prcompany1'] == productora]
    ganancia = pr['revenue'].sum()
    return (f'la productora {productora} tiene {len(pr)} peliculas y una ganancia total de {ganancia}')

In [12]:
productoras_exitosas('Pixar Animation Studios')

'la productora Pixar Animation Studios tiene 29 peliculas y una ganancia total de 2546355520.0'

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [23]:
def get_director(nombre_director):
    series = df[df['director'] == nombre_director]
    retorno = series['return'].sum()
    pe= {}
    pe['director'] = nombre_director
    pe['retorno total'] = retorno
 
    peliculas = []
    
    for i in range(len(series)):
        peli = {}
        peli['titulo'] = ((series['title'].iloc[i]))
        peli['fecha de estreno'] = (series['release_date'].iloc[i])
        peli['retorno'] = (series['return'].iloc[i])
        peli['presupuesto'] = (series['budget'].iloc[i])
        peli['ganancia'] = (series['revenue'].iloc[i])
        peliculas.append(peli)
    pe['peliculas'] = peliculas
    return pe

In [24]:
get_director('Christopher Nolan')

{'director': 'Christopher Nolan',
 'retorno total': 44.42255888764903,
 'peliculas': [{'titulo': 'Following',
   'fecha de estreno': '1998-09-12',
   'retorno': 8.080333333333334,
   'presupuesto': 6000,
   'ganancia': 48482.0},
  {'titulo': 'Memento',
   'fecha de estreno': '2000-10-11',
   'retorno': 4.413677333333333,
   'presupuesto': 9000000,
   'ganancia': 39723096.0},
  {'titulo': 'Insomnia',
   'fecha de estreno': '2002-05-24',
   'retorno': 2.47206152173913,
   'presupuesto': 46000000,
   'ganancia': 113714830.0},
  {'titulo': 'Batman Begins',
   'fecha de estreno': '2005-06-10',
   'retorno': 2.4947911533333333,
   'presupuesto': 150000000,
   'ganancia': 374218673.0},
  {'titulo': 'The Prestige',
   'fecha de estreno': '2006-10-19',
   'retorno': 2.741907775,
   'presupuesto': 40000000,
   'ganancia': 109676311.0},
  {'titulo': 'The Dark Knight',
   'fecha de estreno': '2008-07-16',
   'retorno': 5.430045643243243,
   'presupuesto': 185000000,
   'ganancia': 1004558444.0},
  {'titulo': 'Inception',
   'fecha de estreno': '2010-07-14',
   'retorno': 5.159579775,
   'presupuesto': 160000000,
   'ganancia': 825532764.0},
  {'titulo': 'The Dark Knight Rises',
   'fecha de estreno': '2012-07-16',
   'retorno': 4.339756396,
   'presupuesto': 250000000,
   'ganancia': 1084939099.0},
  {'titulo': 'Interstellar',
   'fecha de estreno': '2014-11-05',
   'retorno': 4.0916364666666665,
   'presupuesto': 165000000,
   'ganancia': 675120017.0},
  {'titulo': 'Doodlebug',
   'fecha de estreno': '1997-01-01',
   'retorno': 0.0,
   'presupuesto': 0,
   'ganancia': 0.0},
  {'titulo': 'Doodlebug',
   'fecha de estreno': '1997-01-01',
   'retorno': 0.0,
   'presupuesto': 0,
   'ganancia': 0.0},
  {'titulo': 'Dunkirk',
   'fecha de estreno': '2017-07-19',
   'retorno': 5.19876949,
   'presupuesto': 100000000,
   'ganancia': 519876949.0}]}

In [6]:
df

,belongs_to_collection,budget,id,original_language,popularity,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,genero1,genero2,prcompany1,prcompany2,country,language,release_year,return,director
0,Toy Story Collection,30000000,862,en,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,Animation,Comedy,Pixar Animation Studios,NaN,United States of America,English,1995,12.451801,John Lasseter
1,NaN,65000000,8844,en,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,Adventure,Fantasy,TriStar Pictures,Teitler Film,United States of America,Français,1995,4.043035,Joe Johnston
2,Grumpy Old Men Collection,0,15602,en,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,Romance,Comedy,Warner Bros.,Lancaster Gate,United States of America,English,1995,0.000000,Howard Deutch
3,NaN,16000000,31357,en,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,Comedy,Drama,Twentieth Century Fox Film Corporation,NaN,United States of America,English,1995,5.090760,Forest Whitaker
4,Father of the Bride Collection,0,11862,en,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,Comedy,NaN,Sandollar Productions,Touchstone Pictures,United States of America,English,1995,0.000000,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49073,NaN,0,30840,en,5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,5.7,26.0,Drama,Action,Westdeutscher Rundfunk (WDR),Working Title Films,United States of America,English,1991,0.000000,John Irvin
49074,NaN,0,111109,tl,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,9.0,3.0,Drama,NaN,Sine Olivia,NaN,Philippines,NaN,2011,0.000000,Lav Diaz
49075,NaN,0,67758,en,0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Betrayal,3.8,6.0,Action,Drama,American World Pictures,NaN,United States of America,English,2003,0.000000,Mark L. Lester
49076,NaN,0,227506,en,0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,Satan Triumphant,0.0,0.0,NaN,NaN,Yermoliev,NaN,Russia,NaN,1917,0.000000,Yakov Protazanov
49077,NaN,0,461257,en,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,0.0,0.0,NaN,NaN,NaN,NaN,United Kingdom,English,2017,0.000000,Daisy Asquith

In [7]:
df.to_csv('df_directores.csv')