In [60]:
pd.options.display.max_columns = 500

In [59]:
import pandas as pd
import numpy as np
import ast

In [167]:
df_movies= pd.read_csv('C:/Users/Leonardo/Desktop/New folder (2)/jupyter/movies_dataset.csv')

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_3268\1088195076.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies= pd.read_csv('C:/Users/Leonardo/Desktop/New folder (2)/jupyter/movies_dataset.csv')

In [7]:
df_movies['belongs_to_collection'][0]

'Toy Story Collection'

esta funcion extrae la columna belongs to collection, obtiene el diccionario de cada fila y extrae la llave 'name' para mostrar solo el nombre en la misma columna

In [168]:
def extraer_nombre_collection(collection):
    if pd.isnull(collection):
        return np.nan
    else:
        try:
            return ast.literal_eval(collection)['name']
        except (ValueError, TypeError):
            return np.nan

df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(extraer_nombre_collection)

In [191]:
df_movies.loc[0,'genero2']

'Comedy'

In [169]:
df_moviesprueba = df_movies.copy()

In [170]:
df_movies['genres'] = df_movies['genres'].apply(ast.literal_eval)

las siguientes 2 funciones son para extraer al menos 2 generos de la columna 'genres' cada genero tendra su nueva columna, genero1 y genero2 respectivamente

In [171]:
df_movies['genero1'] = df_movies['genres'].apply(lambda x : x[0]['name'] if isinstance(x, list) 
                                                             and len(x)> 0 else np.nan)

In [172]:
def extraer_genre2(series):
        try:
            return series[1]['name']
        except (IndexError):
            return np.nan

In [173]:
df_movies['genero2'] = df_movies['genres'].apply(extraer_genre2)

In [68]:
df_moviesprueba['genres'][:5]

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

Funcion desanidar 'production_companies'

In [174]:
nombre_columna = 'production_companies'
df_moviesprueba = df_moviesprueba.dropna(subset=[nombre_columna])

In [80]:
df_moviesprueba['production_companies'] = df_moviesprueba['production_companies'].apply(ast.literal_eval)

bucle desanidar 'production companies'

In [175]:
df_movies['prcompany1'] = np.nan
df_movies['prcompany2'] = np.nan

for i in range(len(df_movies)):
    try:
        df = pd.json_normalize(eval(df_movies['production_companies'][i]))

        for j in range(len(df)):
            df_movies[f'prcompany{j+1}'][i] = df['name'][j]
    except:
        continue

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_3268\3278122366.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies[f'prcompany{j+1}'][i] = df['name'][j]
C:\Users\Leonardo\AppData\Local\Temp\ipykernel_3268\3278122366.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies[f'prcompany{j+1}'][i] = df['name'][j]

desanidar 'production countries'

In [176]:
df_movies['country'] = np.nan

for i in range(len(df_movies)):
    try:
        df = pd.json_normalize(eval(df_movies['production_countries'][i]))

        for j in range(len(df)):
            df_movies['country'][i] = df['name'][j]
    except:
        continue

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_3268\2734867924.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['country'][i] = df['name'][j]

desanidar 'spoken languages'

In [177]:
df_movies['language'] = np.nan

for i in range(len(df_movies)):
    try:
        df = pd.json_normalize(eval(df_movies['spoken_languages'][i]))

        for j in range(len(df)):
            df_movies['language'][i] = df['name'][j]
    except:
        continue

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_3268\3786242134.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['language'][i] = df['name'][j]

Rellenamos los valores nulos de budget y revenue con ceros

In [178]:
df_movies['budget'] = df_movies['budget'].fillna(0)
df_movies['revenue'] = df_movies['revenue'].fillna(0)

eliminar valores nulos de release date

In [179]:
columna= 'release_date'
df_moviesprueba = df_moviesprueba.dropna(subset=[columna])

In [198]:
#df_moviesprueba['release_year'] = df_moviesprueba['release_date'].apply(lambda x: x[:4])

In [256]:
df_movies['release_date'] =  pd.to_datetime(df_movies['release_date'], errors='coerce')

In [225]:
df_movies['release_year'] =  pd.to_datetime(df_movies['release_year'], errors='coerce')

In [259]:
#df_movies['release_year'] = df_movies['release_year'].dt.strftime('%Y')
df_movies['release_year'] = pd.to_datetime(df_movies['release_date'], format='%Y')

In [260]:
#df_movies['release_year'] = df_movies['release_year'].dt.year
df_movies['release_year'] = df_movies['release_year'].dt.to_period('Y')

reemplazo por 0 algunos valores extraños que no me permitian pasar budget a int

In [180]:
df_movies['budget'] = df_movies['budget'].replace('/zaSf5OG7V8X8gqFvly88zDdRm46.jpg', 0)
df_movies['budget'] = df_movies['budget'].replace('/ff9qCepilowshEtG2GYWwzt2bs4.jpg', 0)
df_movies['budget'] = df_movies['budget'].replace('/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg', 0)

Convierto budget de string a entero

In [181]:
df_movies['budget'] = df_movies['budget'].astype(int)

Esta funcion calcula la columna return solo si la operacion es posible, de lo contrario simplemente devuelve 0

In [182]:
def calcular_columna(row):
    if row['budget'] != 0 and row['revenue'] != 0:
        return row['revenue'] / row['budget']
    else:
        return 0

df_movies['return'] = df_movies.apply(calcular_columna, axis=1)

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage

In [263]:
df_movies.drop(columns=['imdb_id', 'video', 'adult', 'original_title', 'poster_path', 'homepage' ], inplace=True)